.logo-div{
  display: flex;
  margin: 6.5rem auto 16rem;
}

.logo-div img {
  margin: auto;
}

.login-header-text{
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.2rem;

  letter-spacing: 0.05em;
  color: #1D1D1D;
  margin-bottom: 3.2rem;
}

.error-message{
  color: red;
}

.forgot-password{
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2rem;
  text-align: center;
  text-decoration-line: underline;
  margin-bottom: 3.6rem;
}

.login-btn{
  background: #FFE0AB;
  border-radius: .6rem;
  width: 100%;
  padding: 1rem 2.4rem;
  border: none;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.9rem;
  letter-spacing: 0.05em;
  cursor: pointer;
}